$topLinks: (
	color: map-get($colors, blue)
);

.top-links {
    font-size: 1.8rem;
    display: inline-block;
    color: map-get($topLinks, color);
    li {
        position: relative;
        float: left;
        padding: 0 1rem;
        &:last-child {
            &:before {
                position: absolute;
                left: -3px;
                content: '/';
                color: inherit;
            }
        }
        &.active,
        &:hover {
            a {
                text-decoration: underline;
            }
        }
    }
    a {
        text-decoration: none;
    }
}
